.transparent-input-h4 {
    font-size: 18px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 9px;
    border: 0;
    border-bottom: 1px solid lightgrey;
    appearance: none !important;
    font-weight: 500 !important;
    outline: none;
    background-color: transparent;
    padding: 0;
}
.transparent-input-h4-disabled {
    border-bottom: 0;
    margin-bottom: 10px;
}

.transparent-input-p {
    orphans: 3;
    widows: 3;

    margin-bottom: 0;

    color: inherit;
    border: 0;
    border-bottom: 1px solid lightgrey;
    appearance: none !important;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.transparent-input-p-disabled {
    border-bottom: 0;
    margin-bottom: 1px;
}
